# ========================
# FLUENTD CONFIGMAP
# ========================
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      format multiline
      format_firstline /\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}/
      format1 /^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[FP]) (?<message>.*)$/
      time_format %Y-%m-%dT%H:%M:%S.%N%:z
    </source>

    <match kubernetes.**>
      @type elasticsearch
      host elasticsearch
      port 9200
      scheme https
      ssl_verify false
      user elastic
      password TuPasswordSeguro
      index_name fluentd
      logstash_format true
      include_tag_key true
      tag_key @log_name
    </match>
